[Unit]
Description=MarkedCMS pod - app container
After=markedcms.mariadb.service

[Container]
Image=docker.io/rdobovic/markedcms
Pod=markedcms.pod

Environment=ORIGIN=http://www.example.com
Environment=PROD_DB_HOST=localhost
Environment=PROD_DB_PORT=3306
Environment=PROD_DB_NAME=markedcms

Secret=markedcms.mariadb.username,type=env,target=PROD_DB_USERNAME
Secret=markedcms.mariadb.password,type=env,target=PROD_DB_PASSWORD